
.App{
    background-color: rgb(53, 52, 52);
    color: white;
    justify-content: center;
    align-items: center;
}
.main{
    background-image: url(background_img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 52, 52);
    margin: 15px 40px;
    box-shadow: 0 0 12px 10px rgba(20, 20, 20, 0.85);
    border: 1px solid rgb(53, 52, 52);
    border-radius: 12px;
}
.header{
    /* margin-top: 250px; */
    justify-content: center;
    text-align: center;
    display: block;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}