.panel{
    top: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(70, 69, 69);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#docs_link{
    text-decoration: none;
    color: rgb(12, 177, 218);
}

#docs, #commands, #stats, #login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(12, 177, 218);
    font-weight: 1000;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 12px;
    cursor: pointer;
}
#docs, #commands, #stats{
    display: flex;
    background-color: rgba(70, 69, 69, 0);
    text-decoration: none;
    margin-left: 20px;
    border: 1px solid rgba(70, 69, 69, 0);
    border-radius: 30px;
    width: auto;
    height: 50px;
    align-items: center;
    transition: 0.3s;
}
#docs:hover, #commands:hover, #stats:hover, #login:hover{
    background-color: rgba(12, 177, 218, 0.21);
}
#login{
    margin: 0 100px 0 auto;
    display: flex;
    background-color: rgba(70, 69, 69, 0);
    text-decoration: none;
    border: 1px solid rgba(70, 69, 69, 0);
    border-radius: 30px;
    width: auto;
    height: 40px;
    align-items: center;
    transition: 0.3s;
}
.left_panel_img{
    height: 20px;
    width: 22px;
    margin-right: 5px;
}
.right_panel_img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
#panel_home{
    margin-left: 30px;
}

#panel_logo{
    height: 60px;
}